@import "tailwindcss";

:root {
  --primary-color : #028041;
  --background: #faf8ff;
  --secondary: #052935;
}

#root{
  position: relative;
}

body {
  margin: 0;
  background: #faf8ff;
  color: #052935;
}

button {
  cursor: pointer;
}


#services{
  padding: 30px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin-top: 3rem;
}

.services-list div{
  background: #faf8ff;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 20px;
}


.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  margin-top: 20px;
}

.services-list div:hover{
  background: #028041;
  transform: translateY(-10px);
}
